# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../:\21-S1-2-C-Cinema\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
